/******************** GENERAL ********************/
.scrollnav{
	z-index: 1020;
	background-color: @snav-bg;
	.nav{
		margin-bottom: 0;
		background-color: @snav-menu-bg;
	}
	.nav li a{
		background-color: @snav-item-bg;
		color: @snav-txt-color;
		padding-top: 4px;
		//padding-bottom: 4px;
		margin: 1px;
		&.active, &.active:hover{
			color: @snav-txt-hover;
			background-color: @snav-item-hover;
			opacity: 1;
			.snav-icon-holder{
				color: @snav-icon-hover;
			}
		}
		&:hover{
			color:@snav-txt-hover;
			background-color: @snav-item-hover;
			opacity: .9;
			.snav-icon-holder{
				color: @snav-icon-hover;
			}
		}
	}
	.snav-icon-holder{
		font-size: @snav-icon-size;
		color: @snav-icon-color;
		.transition(color .2s linear);
	}
}
@media (max-width: @snav-mobile) {
	body section.section-scroll-nav div.scrollnav{
		display: none;
	}
}

/******************** TEMPLATES ********************/
.section-scroll-nav{
	.snav-list-blueprint{
		ul.nav{}
		li{}
		a{
			.clearfix;
			padding: 0 8px;
			span{
				display:block;
				margin-left:8px;
				min-width: 200px;
			}
			.snav-icon-holder{
				float:left;
				margin-left: 0;
				min-width: 0;
			}
			.snav-title{
				display:block;
			}
			.snav-subtitle{
				display:block;
			}
		}
		&.stuck{
			position:fixed;
		}
	}

	.snav-top-center-blueprint{
		width:100%;
		left:0;
		min-height: 85px;
		text-align: center;
		ul.nav{
			vertical-align: middle;
			.fix;
			display: inline-block;
		}
		li{
			float:left;
			vertical-align: middle;
		}
		a{
			padding: 0 8px;
			span{
				display: block;
			}
		}
		&.stuck{
			position:fixed;
		}
	}

	.snav-top-inline-blueprint{
		width:100%;
		left:0;
		min-height: 85px;
		ul.nav{
			max-width: @plContentWidth;
			margin: 0 auto;
			.fix;
		}
		li{
			float: left;

		}
		a{
			.clearfix();
			span{
				display: block;
				min-width: 200px;
				margin-left: 10px;
			}
			.snav-icon-holder{
				float:left;
				margin-left: 0;
				min-width: 0;
			}
		}
		&.stuck{
			position:fixed;
		}
	}
}

/******************** Editor styles ********************/
form[data-sid="scroll-nav"], form[data-scope="scroll-nav"]{
	.opt{
		background: #2f2f2f !important;
		min-height: 280px;
	}
	label{
		color:white !important;
		font-size:1em !important;
	}
	select, textarea, input{
		margin-bottom: 10px;
	}
	.opt-name{
		font-size: 1.3em !important;
		background: white !important;
		box-shadow: 0 0 0 !important;
		color:@blue !important;
	}
}