/******************** GENERAL ********************/
.section-scroll-nav-fixed .scrollnav{
	z-index: 1030;
	top:0;
	.nav{
		margin-bottom: 0;
	}
	.nav li a{
		padding-top: 4px;
		margin: 1px;
		&.active, &.active:hover{
			opacity: 1;
			.snav-icon-holder{
			}
		}
		&:hover{
			opacity: .9;
			.snav-icon-holder{
			}
		}
	}
	.snav-icon-holder{
		.transition(color .2s linear);
	}
}
/******************** TEMPLATES ********************/
.section-scroll-nav-fixed{
	.snav-left-blueprint{
		position: fixed;
		left:0;
		top:70px;
		ul.nav{
		}
		li{}
		a{
			.clearfix();
			span{
				display: block;
				min-width: 200px;
				margin-left: 10px;
			}
			.snav-icon-holder{
				float:left;
				margin-left: 0;
				min-width: 0;
			}
		}
	}
	.snav-right-blueprint{
		right:0;
		top:70px;
		position: fixed;
		ul.nav{
		}
		li{}
		a{
			.clearfix();
			span{
				display: block;
				min-width: 200px;
				margin-left: 10px;
			}
			.snav-icon-holder{
				float:left;
				margin-left: 0;
				min-width: 0;
			}
		}
	}

	.snav-top-center-blueprint{
		width:100%;
		left:0;
		top: 0;
		text-align: center;
		ul.nav{
			vertical-align: middle;
			.clearfix();
			display: inline-block;
		}
		li{
			float:left;
			vertical-align: middle;
		}
		a{
			padding: 0 8px;
			span{
				display: block;
			}
		}
	}

	.snav-top-inline-blueprint{
		width:100%;
		left:0;
		top:0;
		ul.nav{
			margin: 0 auto;
			.clearfix();
		}
		li{
			float: left;
		}
		a{
			.clearfix();
			span{
				display: block;
				min-width: 200px;
				margin-left: 10px;
			}
			.snav-icon-holder{
				float:left;
				margin-left: 0;
				min-width: 0;
			}
		}
	}
	.snav-bottom-blueprint{
		width:100%;
		left:0;
		bottom:0;
		text-align: center;
		ul.nav{
			vertical-align: middle;
			.clearfix();
			display: inline-block;
		}
		li{
			float:left;
			vertical-align: middle;
		}
		a{
			padding: 0 8px;
			span{
				display: block;
			}
		}
	}
}
